.git
.gitignore
.venv
venv

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

.env

qdrant_storage

data/raw/*
data/processed/*
data/chats/*
data/evaluation/*

tests

README.md
*.log